body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --green:#8FBC32;
  --gray:#EEEEEF;
  --blue : #1961AC;
  --black-mate: #4d4d4d;
  --gray-header:#ABACAD;
  --background-blue : #1E62A9;
  --orange : #FEB300;
  --gray-2: #8d8d8d;
  --gray-3:#727272 ;
  --gray-4: #a4a4a4;
  --black-1:#202020;
  --black-2:#282828;
  --background-gray:#F8F9FA ;
  --background-white-gray:#ECF0F3 ;
}

